//
// ONLY ALERT
// Utility for alert
//

#flash-message {
    margin: 5px auto;
    padding: 0.07em 0 0;
    text-align: center;
    width: 50%;
    left: 25%;
    position: fixed;
    top: 45px;
    z-index: 9999;
    .alert-box {
        font-size: 0.875rem !important;
        color: #FFF;
        margin-top: 1.25rem;
        margin-bottom: 0 !important;
        box-shadow: 0px 1px 3px 2px rgba(204, 204, 204, 0.6);
        border: none;
        padding: 0.75rem 2.5rem;
        position: relative;
        i {
            display: none;
            position: absolute;
            top: 4px;
            font-size: 1.5rem;
            left: 10px;
        }
        &.alert {
            background-color: #EC373C;
            .mdi-close-octagon {
                display: block;
                color: #C20F18;
            }
        }
        &.warning {
            background-color: #F0BE5A;
            .mdi-alert-box {
                display: block;
                color: #B8944E;
            }
        }
        &.valid, &.success {
            background-color: #48AD89;
            .mdi-checkbox-market {
                display: block;
                color: #43886F;
            }
        }
        &.info {
            background-color: #03a9f4;
            .mdi-bell {
                display: block;
                color: #0387f4;
                margin-top: -6px;
            }
        }
        .close {
            color: #fff;
            position: absolute;
            font-size: 1.5rem;
            opacity: 1;
            top: 4px;
            right: 10px;
        }
        p {
            margin-bottom: 0em;
            font-size: 0.875rem !important;
        }
    }
}

@include breakpoint(small up) {
    #flash-message {
        left: 5%;
        top: 70px;
        width: 90%;
        margin-left: 0;
    }
}

@include breakpoint(medium up) {
    #flash-message {
        left: 20%;
        top: 65px;
        width: 60%;
        margin-left: 0;
    }
}

@include breakpoint(large up) {
    #flash-message {
        left: 25%;
        top: 50px;
        width: 50%;
    }
}
