/**
 * Stats Content
 *
 * @version 1.0
 */
table {
    tbody {
        tr {
            td {
                &.table-tbody__actions {
                    text-align: right;
                    a {
                        i {
                            position: relative;
                            top: 0.125rem;
                            font-size: 1.25rem;
                        }
                    }
                }
            }
        }
    }
}

